//////////////////////////CHOICE BEGIN////////////////////////
$font_text: 'Open Sans', sans-serif;

.choice {
  background: #fff;
  background: url("../../public/images/bg-choice.png") center no-repeat;
  background-size: cover;
  padding: 80px 0 74px 0;
  position: relative;

  .caption {
    font-weight: 800;
    font-size: 24px;
    line-height: 45px;
    color: #FE0101;
    margin-bottom: 30px;
  }

  p {
    font-size: 18px;
    line-height: 186.68%;
    color: #FFFFFF;

    span {
      color: #FE0101;
    }
  }

  .image {
    position: absolute;
    bottom: -168px;
  }

  form {
    background: #011AFE;
    width: 427px;
    height: 382px;
    background-size: cover;
    padding: 37px 0 31px 0;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: center;

    p {
      max-width: 392px;
      margin-left: auto;
      margin-right: auto;
      font-weight: bold;
      font-size: 14px;
      line-height: 186.68%;
      text-align: center;
      color: #FFFFFF;
    }

    //////////

    .custom-select {
      position: relative;
      width: 366px;
      padding: 0;
      background: transparent;
      border: none;
      margin-bottom: 41px;
      outline: none !important;
    }

    .custom-select select {
      display: none; /*hide original SELECT element: */
    }

    .select-selected {
      background-color: transparent;
    }

    /* Style the arrow inside the select element: */
    .select-selected:after {
      position: absolute;
      content: "";
      top: 23px;
      right: 20px;
      width: 0;
      height: 0;
      border: 8px solid transparent;
      border-color: #000 transparent transparent transparent;
    }

    /* Point the arrow upwards when the select box is open (active): */
    .select-selected.select-arrow-active:after {
      border-color: transparent transparent #000 transparent;
      top: 13px;
    }

    /* style the items (options), including the selected item: */
    .select-items div, .select-selected {
      outline: none !important;
      background: #FFFFFF;
      border: 2px solid #FFFFFF;
      border-radius: 20px;
      padding: 10px 0 10px 22px;
      -webkit-appearance: none;
      width: 100%;
      font-weight: bold;
      font-size: 14px;
      line-height: 186.68%;
      color: #000000;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      text-align: left;
    }

    /* Style items (options): */
    .select-items {
      position: absolute;
      background-color: #fff;
      top: 132%;
      left: 0;
      right: 0;
      z-index: 99;
      border-radius: 20px;
      overflow-x: hidden;
      height: 150px;
    }


    ::-webkit-scrollbar {
      width: 12px !important;
      height: 150px !important;

    }

    ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      border-radius: 20px !important;
      margin-top: 10px !important;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 20px !important;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
      margin-top: 10px !important;
    }

      /* Hide the items when the select box is closed: */
    .select-hide {
      display: none;
    }

    .select-items div:hover, .same-as-selected {
      background-color: rgba(0, 0, 0, 0.1);
    }

    //////////

    input[type="text"] {
      display: inline-block;
      background: #FFFFFF;
      border: 2px solid #FFFFFF;
      border-radius: 20px;
      padding: 10px 0 10px 22px;
      -webkit-appearance: none;
      width: 366px;
      font-weight: bold;
      font-size: 14px;
      line-height: 186.68%;
      color: #000000;
      margin-bottom: 31px;
    }

    input::-webkit-input-placeholder {
      color: #000000;
    }
    input::-ms-input-placeholder {
      color: #000000;
    }
    input::-ms-input-placeholder {
      color: #000000;
    }
    input::placeholder {
      color: #000000;
    }

    input {
      outline: none !important;
    }

    button {
      background: #FFFFFF;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
      border-radius: 20px;
      position: absolute;
      width: 310px;
      right: 0;
      left: 0;
      margin: auto;
      bottom: -28px;
      outline: none !important;
      &:hover {
        background: #FE0101;
        border: 1px solid #FE0101;
      }

      .btn {
        font-weight: 800;
        font-size: 14px;
        line-height: 186.68%;
        padding: 13px 54px;
        color: #252525;
      }
    }
  }

  ///media

  @media (max-width: 991px) {
    padding: 40px 0 40px 0;
    .image {
      position: relative;
      bottom: 0;
    }

    form {
      height: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    .caption {
      margin-bottom: 20px;
      text-align: center;
      line-height: 131%;;
    }

    p {
      text-align: center;
    }

    form button {
      position: relative;
      top: 0;
    }
  }

  @media (max-width: 576px) {
    .caption {
      font-size: 20px;
    }
  }

  @media (max-width: 480px) {
    form {
      padding: 37px 4px 31px 4px;
      width: 100%;
    }

    form input[type="text"], form select, form button, form .select-selected, form .custom-select {
      width: 255px;
      margin-right: auto;
      margin-left: auto;
    }

    form button {
      .btn {
        padding: 13px 15px;
      }
    }
  }

}

//////////////////////////CHOICE END////////////////////////