//////////////////////////FOOTER BEGIN////////////////////////
$font_text: 'Montserrat', sans-serif;

.footer {
  background: #F2F2F2;
  padding: 72px 0 74px 0;

}

//////////////////////////FOOTER END////////////////////////