//////////////////////////FORM-BANNER BEGIN////////////////////////
$font_text: 'Open Sans', sans-serif;

.form-banner {
  background: url("../../public/images/liners.png") right top no-repeat;
  background-size: contain;
  height: 260px;
  margin-top: -103px;

  .title {
    font-family: $font_text;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    margin-bottom: 23px;
  }

  form {
    padding: 25px 35px 25px 24px;
    background: #FFFFFF;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;

    p {
      font-family: $font_text;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      color: #000000;
      max-width: 333px;
      margin-right: 22px;
      margin-bottom: 0;
    }

    input {
      height: 49px;
      width: 260px;
      padding-left: 22px;
      border: 1px solid #0D081C;
    }

    input::-webkit-input-placeholder { color: #030D26; }
    input::-ms-input-placeholder { color: #030D26; }
    input::-ms-input-placeholder { color: #030D26; }
    input::placeholder { color: #030D26; }

    input[type="text"] {
      margin-right: 31px;
    }

    input[type="tel"] {
      margin-right: 64px;
    }

    button {
      background: #0194FE;
      border-radius: 20px;
      height: 45px;

      .btn {
        font-family: $font_text;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        color: #FFFFFF;
        padding: 0 52px;
      }
    }
  }

  ///media

  @media (max-width: 1319px) {
    form button {
      height: 54px;
    }
  }

  @media (max-width: 991px) {
    form {
      flex-wrap: wrap;
      justify-content: center;
      padding: 25px;

      p {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 34px;
      }

      input {
        margin-bottom: 27px;
      }

      input[type="tel"] {
        margin-right: 0;
      }

      .button {
        margin-top: 27px;
      }
    }
  }

  @media (max-width: 639px) {
    form {
    flex-direction: column;

      input[type="text"] {
        margin-right: 0;
        margin-bottom: 36px;
      }
    }
  }

  @media (max-width: 528px) {
    .title {
      display: none;
    }
    background: none;
  }

  @media (max-width: 380px) {
    form {
      input {
        width: 230px;
      }
    }
  }

}

//////////////////////////FORM-BANNER END////////////////////////