////////////////////////HEADER BEGIN////////////////////////

$font_text: 'Open Sans', sans-serif;
.header.color {
  background-color: #060d26;
}

.header {
  background-color: transparent;
  padding: 30px 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 5;

  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
  }

  .logo {
    &:hover {
      text-decoration: none;
    }
    .logo-main {
      font-family: $font_text;
      font-style: normal;
      font-weight: normal;
      font-size: 21px;
      line-height: 29px;
      color: #FE0101;
      margin: 0;

      span {
        font-weight: 800;
      }
    }

    .logo-sub {
      font-family: $font_text;
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 15px;
      text-transform: uppercase;
      color: #0194FE;
      margin: 0;
    }
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .main-nav {
    display: flex;
    align-items: center;
  }

  .menu {
    display: flex;
  }

  .menu li {
    margin-left: 70px;
  }

  .menu li:first-child {
    margin-left: 0;
  }

  .menu a {
    font-family: $font_text;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .menu a:hover {
    color: #FE0101;
  }

  .top {
    display: flex;
    justify-content: space-between;
  }

  .address {
    display: flex;
    justify-content: flex-end;
  }

  .address  p {
    font-family: $font_text;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    margin: 0;
  }

  .phone {
    margin: 0;
    a {
      font-family: $font_text;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      color: #FFFFFF;
      &:hover {
        text-decoration: none;
      }
    }
  }

  .button {
    display: flex;
    justify-content: flex-end;

    .btn {
      font-family: $font_text;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      text-decoration-line: underline;
      color: #FE0101;
      padding: 0;
    }
    &:hover {
      .btn {
        color: #fff;
        text-decoration: none;
      }
    }
  }

  //mobile menu from right to center

  .mobile-menu {
    width: 100%;
    position: absolute;
    top: -22px;
    bottom: 0;
    transition: all .3s ease-in-out;
    max-width: 80vw;
    right:-100%;
    min-height: 100vh;
    background: #252525;
    opacity:0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: -10px 4px 20px rgba(0, 0, 0, 0.25);

    .right-menu {
      padding-left: 21px;
      padding-bottom: 4px;
      border-bottom: 1px solid #333;

      li {
        margin-bottom: 39px;
      }

      li:first-child {
        margin-top: 79px;
      }

      li a {
        font-family: $font_text;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        text-transform: uppercase;
        color: #FFFFFF;
        &:hover {
          color: #FE0101;
        }
      }
    }

    &.show {
      top: -20px;
      right: -16px;
      z-index: 2;
      opacity: 1;
      transition: all .3s ease-in-out;
    }
  }

  // c крестиком

  .toggle-menu {
    position: relative;
    width: 18px;
    height: 12px;
    cursor: pointer;
    display: none;
    z-index: 3;


    span {
      position: absolute;
      background-color: #fff;
      width: 100%;
      height: 2px;
      top: 50%;
      right: 0;
      margin-top: 0;
      opacity: 1;
      &:before {
        position: absolute;
        background: #fff;
        width: 18px;
        height: 2px;
        bottom: 5px;
        content: "";
        display: block;
      }
      &:after{
        position: absolute;
        background: #fff;
        width: 18px;
        height: 2px;
        top: 5px;
        content: "";
        display: block;
      }
    }
  }

  .toggle-menu.menu-on {
    span {
      background-color: transparent;
      transition: all .3s ease-in-out;
      &:before {
        background-color: #fff;
        transform: rotate(-45deg);
        top: 0;
        position: absolute;
        transition: all .3s ease-in-out;
      }
      &:after {
        background-color: #fff;
        transform: rotate(45deg);
        top: 0;
        position: absolute;
        transition: all .3s ease-in-out;
      }
    }
  }

  ///media

  @media (max-width: 970px) {
   .contact {
      display: none;
    }

    .toggle-menu {
      position: absolute;
      right: 0;
    }

    .header__inner {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: inherit;
    }

    .main-nav {
      display: none;
    }

    .toggle-menu {
      display: block;
    }

    .contact-mobile {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 30px;
      padding-left: 22px;
    }
  }

  @media (max-width: 420px) {
    padding: 20px 0;

    .logo {
      display: block;
      width: 150px;
      margin: 0 auto;
    }

    .toggle-menu span {
      top: 110%;
    }
  }

}

////////////////////////HEADER END////////////////////////