$font_text: 'Montserrat', sans-serif;
$caption_text: Cera Pro, sans-serif;

@import "header";
@import "banner";
@import "delivery";
@import "reviews";
@import "how";
@import "brands";
@import "map";
@import "choice";
@import "why";
@import "leader";
@import "cars";
@import "gallery";
@import "footer";

@font-face {
  font-family: 'fontello';
  src: url('../../public/fonts/fontello.eot');
  src: url('../../public/fonts/fontello.eot?97742470#iefix') format('embedded-opentype'),
  url('../../public/fonts/fontello.woff2?97742470') format('woff2'),
  url('../../public/fonts/fontello.woff?97742470') format('woff'),
  url('../../public/fonts/fontello.ttf?97742470') format('truetype'),
  url('../../public/fonts/fontello.svg?97742470#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?97742470#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-map:before {
  content: '\e806';
  color: #FE0101;
  font-size: 13px;
}

.icon-phone:before {
  content: '\e809';
  color: #FE0101;
  font-size: 17px;
}

.fa-mobile-alt {
  color: #FE0101;
  font-size: 13px;
}

.icon-car:before {
  content: '\e805';
  color: #fff;
  font-size: 64px;
}

.icon-money:before {
  content: '\e80b';
  color: #fff;
  font-size: 42px;
}

.icon-patent:before {
  content: '\e80c';
  color: #fff;
  font-size: 42px;
}

.icon-youtube:before {
  content: '\e800';
}

.icon-facebook:before {
  content: '\e801';
}

.icon-instagram:before {
  content: '\e802';
}

.icon-car-red:before {
  content: '\e803';
  color: #fe0101;
  font-size: 96px;
}

.icon-gas:before {
  content: '\e808';
  color: #fe0101;
  font-size: 96px;
}

.icon-car-red2:before {
  content: '\e804';
  color: #fe0101;
  font-size: 80px;
}

.icon-sale:before {
  content: '\e80d';
  color: #fe0101;
  font-size: 80px;
}

.icon-play:before {
  content: '\e80a';
  color: #fff;
  font-size: 45px;
}

.icon-like:before {
  content: '\e807';
  font-size: 24px;
  color: #fe0101;
}

.icon-comment:before {
  content: '\e80e';
  font-size: 18px;
  color: #0194FE;
}

////////////////////////////////////////MAIN/////////////////////////////////

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', 'Arial', sans-serif;
  background-color: #fff;
  font-style: normal;
  font-weight: normal;
}

form button {
  background: #0194FE;
  border-radius: 20px;
  outline: none !important;

  &:hover {
    background: #FE0101;
  }

  .btn {
    font-family: $font_text;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 10px 29px;
  }
}

//.button {
//  background: #FE0101;
//  border-radius: 20px;
//  display: inline-block;
//  width: 95%;
//  margin-left: auto;
//  margin-right: auto;
//  outline: none !important;
//
//  &:hover {
//    background: #0194FE;
//  }
//
//  .btn {
//    font-weight: 600;
//    font-size: 15px;
//    line-height: 20px;
//    color: #FFFFFF;
//    padding: 13px 90px;
//
//  }
//}

.list-reset {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.clearfix:after {
  display: table;
  content: '';
  clear: both;
}

.container {
  max-width: 1320px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.container-fluid {
  padding: 0 0 !important;
}

img {
  width: 100%;
  height: auto;
}

button, a, .btn {
  outline: none !important;
}

input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}

button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}

.button:active, .button:focus {
  outline: none;
}
.button::-moz-focus-inner {
  border: 0;
}

a:active, a:focus {
  outline: none;
}
a::-moz-focus-inner {
  border: 0;
}

.devgen {
  background: #000;
  display: flex;
  justify-content: center;

  a {
    color: #FFFFFF;
    font-family: $font_text;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    &:hover {
      text-decoration: none;
    }
  }
}

/////////////////////POPUP///////////////////

.popup {
  background: url("../../public/images/bg-popup.png");
  background-size: cover;
  max-width: 428px;
  margin: 0 auto;
  position: relative;
  padding: 25px 0 25px 0;

  .image1 {
    position: absolute;
    top: -25px;
    left: 0;
    z-index: -1;
  }

  .image2 {
    position: absolute;
    left: 0;
    top: 138px;
    z-index: 0;
  }

  form {
    text-align: center;
    z-index: 3;

    .logo {
      display: block;
      margin-bottom: 12px;
      z-index: 3;
      max-width: 100px;
      margin-left: auto;
      margin-right: auto;
    }

    .form-title {
      font-family: $font_text;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 186.68%;
      text-align: center;
      text-transform: uppercase;
      color: #252525;
      margin-bottom: 31px;
      z-index: 3;
    }

    input {
      font-family: $font_text;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 186.68%;
      color: #000000;
      background: #fff;
      border: 1px solid #FE0101;
      border-radius: 20px;
      padding: 10px 22px;
      width: 366px;
      display: inline-block;
      margin-bottom: 31px;
      outline: none !important;
      z-index: 3;
    }

    input[type="tel"] {
      margin-bottom: 55px;
    }

    input::-webkit-input-placeholder {
      color: #000;
    }
    input::-ms-input-placeholder {
      color: #000;
    }
    input::-ms-input-placeholder {
      color: #000;
    }
    input::placeholder {
      color: #000;
    }

    button {
      background: #FE0101;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
      border-radius: 20px;
      border: 1px solid #FE0101;
      outline: none !important;
      margin-bottom: 38px;
      z-index: 3;

      &:hover {
        background: #0194FE;
        border: 1px solid #0194FE;
      }

      .btn {
        font-family: $font_text;
        font-style: normal;
        font-weight: 800;
        font-size: 14px;
        line-height: 186.68%;
        color: #FFFFFF;
        padding: 12px 78px;
      }
    }

    p {
      font-family: $font_text;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 186.68%;
      text-align: center;
      color: #252525;
      margin-bottom: 31px;
      z-index: 3;
    }

    .social-icons {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .icon-facebook {
      font-size: 40px;
      color: rgba(254, 1, 1, 0.64);
      &:hover {
        text-decoration: none;
        color: #FE0101;
      }
    }

    .icon-youtube {
      font-size: 58px;
      color: rgba(254, 1, 1, 0.64);
      &:hover {
        text-decoration: none;
        color: #FE0101;
      }
    }

    .icon-instagram {
      font-size: 40px;
      color: rgba(254, 1, 1, 0.64);
      margin: 0 7px 0 15px;
      &:hover {
        text-decoration: none;
        color: #FE0101;
      }
    }
  }

  @media (max-width: 450px) {
    form input {
      width: 100%;
    }

    form .form-title, form input, form input[type="tel"], form button {
      margin-bottom: 20px;
    }

    form p {
      margin-bottom: 0;
    }
  }

  @media (max-width: 345px) {
    form button .btn {
      padding: 12px 55px;
    }
  }

}